h1 {
    float: left;
    font-size: 80px;
    padding-top: 20px;
    margin: 30px 0 0;
    text-shadow: 4px 4px 7px #ffb4b4;
}
p {
    padding-top: 35px;
    float: left;
}
#center > img {
    display: block;
    width: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.center_text {
    color: #930000;
    font-family: Welland, Helvetica, SansSerif, serif;
    margin-left: 30px;
    display: block;
}

html {
    margin: 0;
    min-height: 100%; /* Look, it's not fixed anymore! */
    display: flex;
    flex-direction: column;
    background-color: #ffb4b4;
}

body{
    /*width: max-content;*/
    /*height: max-content;*/
    background-color: #ffb4b4;
    flex-grow: 1;
    margin: 0;
}

#initial_region {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#center_panel {
    display: flex;
    width: 91%;
    height: 49.2%;
    background-color: #ffb4b4;
    justify-content: flex-start;
    align-items: flex-start;
}

/*w: 932.768*/
/*h: 345.05*/

#center {
    position: absolute;
    width: 900px;
    height: 300px;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background-color: #ffffff;
    /*z-index: 2;*/
}

.background_rects {
    /*margin: -200px auto;*/
    background-color: #930000;
    /*top: 15%;*/
    /*left: 5%;*/
    /*z-index: -2;*/
}
#rect1 {
    position: absolute;
    width: 900px;
    height: 310px;
    /*top: 55%;*/
    /*left: 53.2%;*/
    /*transform: translate(-50%, -50%);*/
     /*top: 10%;*/
     /*left: 5%;*/
     /*z-index: -2;*/
 }
/*#rect2 {*/
/*    bottom: 15%;*/
/*    right: 5%;*/
/*    z-index: -4;*/
/*}*/
/*#rect3 {*/
/*    top: 45%;*/
/*    left: 15%;*/
/*    z-index: -6;*/
/*}*/

.background_divs {
    /*margin: -200px auto;*/
    background-color: #ffb4b4;
    /*top: 7.5%;*/
    /*left: 2.5%;*/
    /*z-index: -1;*/
}
#div1 {
    position: absolute;
    width: 900px;
    height: 300px;
    /*top: 52.5%;*/
    /*left: 51.5%;*/
    /*transform: translate(-50%, -50%);*/
    /*z-index: -1;*/
}
/*#div2 {*/
/*    bottom: 7.5%;*/
/*    right: 2.5%;*/
/*    z-index: -3;*/
/*}*/
/*#div3 {*/
/*    top: 37.5%;*/
/*    left: 12.5%;*/
/*    z-index: -5;*/
/*}*/

#counter {
    color: black;
}

td {
    /*color: #930000;*/
    /*font-family: Welland, Helvetica, serif;*/
    /*margin: 0 auto;*/
}

.bi {
    position: absolute;
    top: 150px;
    display: block;
    float: left;
    font-size: 27px;
    color: #ffb4b4;
}
.bi:hover {
    color: #930000;
    text-shadow: 4px 4px 7px #ffb4b4;
}

.bi-github {
    left: 35px;
}
.bi-instagram {
    left: 75px;
}
.bi-linkedin {
    left: 115px;
}
#projects {
    position: relative;
    width: 900px;
    height: 900px;
}
.column {

    float: left;
    width: 33.33%;
    background-color: #ffffff;
}
